<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: right;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
  height: 60%;
  overflow-y: auto;
  top: 20px;
  right: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  border-radius: 25px;
  margin-bottom: 20px;
}

/* Middle column */
.column.middle {
  width: 50%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 620px;/*50%;*/
  padding: 20px;
  border-radius: 25px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/*change color of last question*/
ul li:nth-child(1) {
  font-weight: 900;
}

li{
    margin: 10px 0;
}

h3{
  text-align: center;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 25%
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
</style>